@modules
[
    (
        id: "gi_usart_1",
        kind: GenericInterfaceUsart,
        name: "GI_USART1",
        pos: (0.0, 0.0),
        config: Usart((
            instance: 1,
            baud_rate: 115200,
            data_bits: 8,
            parity: None,
            stop_bits: One,
            rx_model: "",
            tx_model: "",
            custom_label: "mw radar",
        )),
        connections: [
            (
                signal: Tx,
                mcu_pin: 30,
            ),
            (
                signal: Rx,
                mcu_pin: 31,
            ),
        ],
    ),
    (
        id: "gi_i2c_2",
        kind: GenericInterfaceI2c,
        name: "GI_I2C1",
        pos: (0.0, 0.0),
        config: I2c((
            instance: 1,
            clock_hz: 400000,
            address: 0,
            rx_model: "",
            tx_model: "",
            custom_label: "128x32 display",
        )),
        connections: [
            (
                signal: Scl,
                mcu_pin: 45,
            ),
            (
                signal: Sda,
                mcu_pin: 46,
            ),
        ],
    ),
]

@clock
hse=8000000
hse_on=0
src=hsi
pll=hse
mul=9
ahb=1
apb1=2
apb2=1
adc=6
usb=1_5
mco=none
rtc=lsi
systick=hclk8
css=0
