@modules
[
    (
        id: "gi_usart_1",
        kind: GenericInterfaceUsart,
        name: "GI_USART1",
        pos: (0.0, 0.0),
        config: Usart((
            instance: 1,
            baud_rate: 115200,
            data_bits: 8,
            parity: None,
            stop_bits: One,
            rx_model: "",
            tx_model: "",
            custom_label: "mw radar",
        )),
        connections: [
            (
                signal: Tx,
                mcu_pin: 30,
            ),
            (
                signal: Rx,
                mcu_pin: 31,
            ),
        ],
    ),
    (
        id: "gi_i2c_2",
        kind: GenericInterfaceI2c,
        name: "GI_I2C1",
        pos: (0.0, 0.0),
        config: I2c((
            instance: 1,
            clock_hz: 400000,
            address: 0,
            rx_model: "",
            tx_model: "",
            custom_label: "128x32 display",
        )),
        connections: [
            (
                signal: Scl,
                mcu_pin: 45,
            ),
            (
                signal: Sda,
                mcu_pin: 46,
            ),
        ],
    ),
]

@clock
hse=8000000
hse_on=1
src=pll
pll=hse
mul=9
ahb=1
apb1=2
apb2=1
adc=6
usb=1_5
mco=none
rtc=lsi
systick=hclk8
css=0

@structure_layout
{
    "main.rs": (306.96234, 603.0735),
    "menu_navigator/rotary_encoder.rs": (677.429, 146.71758),
    "mw_radar/data.rs": (394.21185, 767.3304),
    "mw_radar/mod.rs": (294.61258, 942.18866),
    "mw_radar/radar.rs": (423.96957, 1042.9387),
    "mw_radar/read.rs": (163.34483, 768.1223),
    "mw_radar/read_param.rs": (546.4359, 759.74036),
    "mw_radar/read_report.rs": (14.0, 769.24506),
    "mw_radar/send_models.rs": (116.115486, 1037.4336),
    "mw_radar/utils.rs": (728.9887, 842.0562),
    "pins/configs/i2c1.rs": (250.29607, 470.01257),
    "pins/configs/mod.rs": (158.97517, 362.05243),
    "pins/configs/usart1.rs": (44.947876, 471.8553),
    "pins/mod.rs": (304.01428, 227.17273),
    "pins/utils/gpio_out.rs": (674.81964, 404.33557),
    "pins/utils/i2c1.rs": (393.67822, 401.4969),
    "pins/utils/mod.rs": (548.6942, 310.7544),
}
