@structure_layout
{
    "mw_radar/src/data.rs": (14.0, 574.9187),
    "mw_radar/src/lib.rs": (201.01404, 525.8629),
    "mw_radar/src/parameter.rs": (586.51996, 554.6761),
    "mw_radar/src/parse_result.rs": (564.53735, 398.10196),
    "mw_radar/src/radar.rs": (294.3567, 593.74817),
    "mw_radar/src/report_debug_mode.rs": (260.20837, 767.29553),
    "mw_radar/src/report_mode.rs": (622.61554, 799.93646),
    "mw_radar/src/report_normal_mode.rs": (17.092796, 768.57245),
    "mw_radar/src/send_models.rs": (14.0, 384.50894),
    "src/main.rs": (377.7, 406.04956),
}

@structure_view
(true,Some(1),1,false)
