@structure_layout
{
    "hmmd_mmwave_sensor/src/parse_result.rs": (682.13324, 649.62537),
    "src/menu_navigator/mod.rs": (124.080124, 333.5898),
    "src/menu_navigator/rotary_encoder.rs": (56.06157, 240.10793),
    "src/pins/configs/i2c1.rs": (219.57532, 197.99991),
    "src/pins/configs/mod.rs": (285.3409, 111.92743),
    "src/pins/configs/usart1.rs": (325.2042, 194.2953),
    "src/pins/mod.rs": (425.43298, 45.119),
    "src/pins/utils/gpio_out.rs": (680.5824, 14.0),
    "src/pins/utils/mod.rs": (565.6815, 103.777145),
}

@structure_view
(true,Some(1),1,false)
